<div class="container mt-4">
  <h2>Lista de Usuarios</h2>
  <input type="text" class="form-control mb-3" placeholder="Buscar usuario" [(ngModel)]="searchTerm" />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of filteredUsers()">
        <td>{{user.id}}</td>
        <td>{{ user.name.firstname }} {{ user.name.lastname }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.address.street }}, {{ user.address.city }}, {{ user.address.zipcode }}</td>
        <td>
          <button class="btn btn-primary" (click)="selectUser(user)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Formulario de edición -->
  <div *ngIf="selectedUser" class="mt-4">
    <h2>Editar Usuario</h2>
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <input type="hidden" formControlName="id">
      <div class="form-group">
        <label for="firstname">Nombre</label>
        <input id="firstname" formControlName="firstname" class="form-control" placeholder="{{ selectedUser.name.firstname }}" required>
      </div>
      <div class="form-group">
        <label for="lastname">Apellido</label>
        <input id="lastname" formControlName="lastname" class="form-control" placeholder="{{ selectedUser.name.lastname }}" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" class="form-control" placeholder="Email" value="{{ selectedUser.email }}" required>
      </div>
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input id="phone" formControlName="phone" class="form-control" placeholder="{{ selectedUser.phone }}" required>
      </div>
      <div class="form-group">
        <label for="street">Calle</label>
        <input id="street" formControlName="street" class="form-control" placeholder="{{ selectedUser.address.street }}" required>
      </div>
      <div class="form-group">
        <label for="city">Ciudad</label>
        <input id="city" formControlName="city" class="form-control" placeholder="{{ selectedUser.address.city }}" required>
      </div>
      <div class="form-group">
        <label for="zipcode">Código Postal</label>
        <input id="zipcode" formControlName="zipcode" class="form-control" placeholder="{{ selectedUser.address.zipcode }}" required>
      </div>
      <button type="submit" class="btn btn-success mt-3">Guardar</button>
    </form>
  </div>
</div>
