<div class="container mt-4">
  <h2>Lista de Productos</h2>
  <input type="text" class="form-control mb-3" placeholder="Buscar producto" [(ngModel)]="searchTerm" />
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of filteredProducts()">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.category }}</td>
        <td><img [src]="product.image" alt="{{ product.title }}" width="50"></td>
      </tr>
    </tbody>
  </table>

 
</div>
